:root {
    padding: 0;
    margin: 0;
}
.container {
    width: max-content;
    background-color: aliceblue;
}
#start {
    display: inline-block;
    width: 140px;
    height: 32px;
    line-height: 32px;
}
.message {
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    color: red;
}