:root {
    padding: 0;
    margin: 0;
}
.my-container {
    width: 200px;
    height: 300px;
    background-color: aliceblue;
}
#start {
    display: inline-block;
    width: 140px;
    height: 32px;
    line-height: 32px;
}